@import url("/static/css/common.css");

.main-content{
    width: 25%;
    margin: 0 auto;
    margin-top:10px;
    line-height: 60px;
    padding-bottom: 100px;
}

.main-content h1{
    text-align: center;
}

.detail{
    list-style: none;
    text-indent: 2px;
}