@import url("common.css");
.list{
    line-height: 30px;
}

.main-content{
    width:50%;
    margin: 0px auto;
    margin-top:10px;
    padding-bottom: 100px;
}

.list li{
    font-size: 10px;
    margin-bottom: 20px;
}

.list li a{
    text-decoration: none;
} 

.wrapper{
    width: 50%;
    margin: 20px auto;
}
