@import url("static/css/common.css");

.content{
    padding-bottom:100px;
}
.info{
    background-color: rgba(235, 235, 235, 50%);
    margin:15px auto;
    /* text-align: center; */
    width: 50%;
    padding: 30px;
    min-height: 400px;
}

.join{
    display: none;
    min-height: 635px;
    text-align: center;
}

.join a{
    font-size: 60px;
    line-height: 600px;
}
.wrapper{
    margin: 10px auto;
    width: 22%;
}
.info img{
    display: block;
    margin: auto;
}
.text{
    width: 70%;
    margin: auto;
}

.text li{
    margin-top: 10px;
    line-height: 40px;
}

.text div{
    margin-top: 20px;
}

.arrows img{
    width: 9%;
}

.right{
    position: fixed;
    right:8%;
    top: 55%;
    transform: translate(0,-50%);
}
.left{
    position:fixed;
    left:8%;
    top: 55%;
    transform: translate(0,-50%);
}
