@import url("/static/css/common.css");

.info{
    background-color: rgba(235, 235, 235, 50%);
    margin:15px auto;
    /* text-align: center; */
    width: 50%;
    padding: 30px;
    min-height: 400px;
}
.wrapper{
    margin: 10px auto;
    width: 13%;
}
.info img{
    display: block;
    margin: auto;
}
.text{
    width: 70%;
    margin: auto;
}

.text li{
    margin-top: 10px;
    line-height: 40px;
}

.text div{
    margin-top: 20px;
}

.arrows img{
    width: 10%;
}

.right{
    position: absolute;
    right:3%;
    top: 60%;
    transform: translate(0,-50%);
    z-index: -1;
}
.left{
    position:absolute;
    left:3%;
    top: 60%;
    transform: translate(0,-50%);
    z-index: -1;
}